@use "../../main-styles/fonts/fonts.scss" as f;
@import "../../main-styles/mixins.scss";

.checkout-page-section-title {
  font-size: 2.5rem;
  margin: 0;
  font-family: "Proxima Nova";
  font-weight: lighter;
  color: f.$black;
  margin-top: 2.5rem;
  text-align: center;
}
.my-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .checkout-cart {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Proxima Nova";
    font-weight: lighter;
    max-height: 42.5rem;
    background-color: f.$orange;
    border-radius: 0.625rem;
    max-width: 38.75rem;
    width: 100%;
    margin-top: 3.125rem;
    padding: 0.625rem;
    overflow: hidden;
    h5 {
      font-family: "Proxima Nova";
      font-weight: lighter;
      font-size: 2rem;
    }
    .checkout-cart-products {
      max-height: 31.25rem;
      overflow-y: auto;
      width: 100%;
      display: flex;
      overflow-x: hidden;
      flex-direction: column;
      align-items: center;
      .trending-product-card:not(:first-child) {
        margin-top: 1.125rem;
      }
      .cart-empty {
        color: white;
      }

      .trending-product-card {
        position: relative;
        padding: 0.75rem;
        background-color: white;
        border-radius: 0.625rem;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        height: 11.375rem;

        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        cursor: default;
        img {
          border-radius: 0.625rem;
          width: 10rem;
          height: 10rem;
        }
        .trending-product-text {
          margin-left: 0.625rem;
          width: 100%;
          .trending-product-title {
            font-size: 1.75rem;
          }
          .trending-product-category {
            margin-top: 0.625rem;
            font-size: 1.3125rem;
            font-family: "Proxima Nova";
            font-weight: 400;
          }
          .trending-product-price {
            margin-top: 1.5625rem;
            font-size: 1.125rem;
          }
          .cart-quantity {
            display: flex;
            h5 {
              font-size: 1.125rem;
              margin-top: 0.625rem;
            }
          }
        }
        .trending-product-close-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1rem;
          height: 1rem;
          margin-right: 0.625rem;
          cursor: pointer;
          img {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }
  }
}
.checkout-cart-total {
  margin-top: 1.25rem;
  font-family: "Proxima Nova" !important;
  color: white;
}
.shipping-details {
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form {
    width: 100%;
    max-width: 47.5rem;
    .shipping-form {
      margin-top: 5rem;

      width: 100%;
    }
  }
  .input-first-and-last-name,
  .input-city-and-zip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    :nth-child(1) {
      margin-right: 0.125rem;
    }
    :nth-child(2) {
      margin-left: 0.125rem;
    }
  }
  .input-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    label {
      font-size: 2rem;
      font-family: "Proxima Nova";
      font-weight: lighter;
      margin-bottom: 1.125rem;
    }
    input {
      height: 4rem;
      border-radius: 0.625rem;
      border: 0.0625rem solid f.$black10;
      margin-bottom: 1.125rem;
      font-size: 1.5rem;
      padding-left: 1rem;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
.continue-button {
  background-color: f.$orange;
  color: white;
  font-size: 1.875rem;
  width: 100%;
  border-radius: 0.625rem;
  padding: 0.75rem;
}
.optional {
  color: f.$black25;
}

@include breakpoint-down(small) {
  .my-cart {
    .checkout-cart {
      h5 {
        font-family: "Proxima Nova";
        font-weight: lighter;
        font-size: 1.375rem;
      }
      .checkout-cart-products {
        .trending-product-card:not(:first-child) {
          margin-top: 0.625rem;
        }

        .trending-product-card {
          height: 7.5rem;
          img {
            width: 5.75rem;
            height: 5.75rem;
          }
          .trending-product-text {
            .trending-product-title {
              font-size: 1.125rem;
            }
            .trending-product-category {
              margin-top: 0.375rem;
              font-size: 0.75rem;
            }
            .trending-product-price {
              margin-top: 0.625rem;
              font-size: 0.875rem;
            }
            .cart-quantity {
              h5 {
                font-size: 0.75rem;
                margin-top: 0.625rem;
              }
            }
          }
          .trending-product-close-icon {
            cursor: pointer;
            img {
              width: 0.75rem;
              height: 0.75rem;
            }
          }
        }
      }
    }
  }
  .shipping-details {
    .input-first-and-last-name,
    .input-city-and-zip {
      flex-direction: column;
    }
    .input-div {
      label {
        font-size: 1.5625rem;
      }
    }
  }
}
