@use "../../main-styles/fonts/fonts.scss" as f;
@import "../../main-styles/mixins.scss";

.checkout-page-section-title {
  font-size: 40px;
  margin: 0;
  font-family: "Proxima Nova";
  font-weight: lighter;
  color: f.$black;
  margin-top: 40px;
  text-align: center;
}
.my-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .checkout-cart {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Proxima Nova";
    font-weight: lighter;
    max-height: 680px;
    background-color: f.$orange50;
    border-radius: 10px;
    max-width: 620px;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    overflow: hidden;
    h5 {
      font-family: "Proxima Nova";
      font-weight: lighter;
      font-size: 32px;
    }
    .checkout-cart-products {
      max-height: 500px;
      overflow-y: scroll;
      // padding-top: 200px;
      width: 100%;
      display: flex;
      overflow-x: hidden;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      .trending-product-card:not(:first-child) {
        margin-top: 18px;
      }
      .cart-empty {
        color: white;
      }

      .trending-product-card {
        padding: 12px;
        background-color: white;
        border-radius: 10px;
        // border: 1px solid black;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        height: 182px;

        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        cursor: default;
        img {
          border-radius: 10px;
          width: 160px;
          height: 160px;
        }
        .trending-product-text {
          margin-left: 10px;
          // max-width: 190px;
          width: 100%;
          .trending-product-title {
            font-size: 28px;
          }
          .trending-product-category {
            margin-top: 10px;
            font-size: 21px;
            font-family: "Proxima Nova";
            font-weight: 400;
          }
          .trending-product-price {
            margin-top: 25px;
            font-size: 18px;
          }
          .cart-quantity {
            display: flex;
            h5 {
              font-size: 18px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
.checkout-cart-total {
  margin-top: 20px;
  // font-family: "Brandon Grotesque" !important;
  font-family: "Proxima Nova" !important;
  color: white;
}
.shipping-details {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form {
    width: 100%;
    max-width: 760px;
    .shipping-form {
      margin-top: 80px;

      width: 100%;
    }
  }
  .input-first-and-last-name,
  .input-city-and-zip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    :nth-child(1) {
      margin-right: 2px;
    }
    :nth-child(2) {
      margin-left: 2px;
    }
  }
  .input-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    label {
      font-size: 32px;
      font-family: "Proxima Nova";
      font-weight: lighter;
      margin-bottom: 18px;
    }
    input {
      height: 64px;
      border-radius: 10px;
      border: 1px solid f.$black10;
      margin-bottom: 18px;
      font-size: 24px;
      padding-left: 16px;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
.continue-button {
  background-color: f.$orange;
  color: white;
  font-size: 30px;
  width: 100%;
  border-radius: 10px;
  padding: 12px;
}
.optional {
  color: f.$black25;
}

@include breakpoint-down(large) {
  .my-cart {
    .checkout-cart {
      h5 {
        font-family: "Proxima Nova";
        font-weight: lighter;
        font-size: 22px;
      }
      .checkout-cart-products {
        max-height: 500px;
        // padding-top: 120px;
        overflow-x: hidden;
        .trending-product-card:not(:first-child) {
          margin-top: 18px;
        }

        .trending-product-card {
          align-items: center;
          height: 182px;
          // max-width: 462px;

          img {
            width: 130px;
            height: 130px;
          }
          .trending-product-text {
            width: 100%;
            .trending-product-title {
              font-size: 24px;
            }
            .trending-product-category {
              margin-top: 10px;
              font-size: 18px;
              font-family: "Proxima Nova";
              font-weight: 400;
            }
            .trending-product-price {
              margin-top: 25px;
              font-size: 14px;
            }
            .cart-quantity {
              display: flex;
              h5 {
                font-size: 18px;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
  .shipping-details {
    .input-first-and-last-name,
    .input-city-and-zip {
      flex-direction: column;
    }
    .input-div {
      label {
        font-size: 25px;
      }
    }
  }
}
