@import "../../main-styles/mixins.scss";

.slide-show {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 24.75rem;
  width: 100%;
  overflow-x: hidden;
  box-shadow: 0 0.3125rem 0.5625rem 0 rgba(35, 28, 28, 0.3);
  img {
    animation: slide 15s infinite ease-in-out;
    max-width: 24.75rem;
    height: 24.75rem;
  }
}
@keyframes slide {
  0% {
    transform: translateX(150%);
  }
  25% {
    transform: translateX(150%);
  }
  30% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(50%);
  }
  55% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-50%);
  }
  80% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(-150%);
  }
}

@include breakpoint-down(large) {
  .slide-show {
    max-width: 21.875rem;
    width: 100%;
    img {
      max-width: 21.875rem;
      height: 21.875rem;
    }
  }
}
