@use "../main-styles/fonts/fonts.scss" as f;
@import "../main-styles/mixins.scss";
.cart {
  width: 24.75rem;
  // overflow-x: hidden;
  max-height: 30.625rem;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  background-color: white;
  border-radius: 0.625rem;
  // left: -80%;
  transform: translateX(-40%);
  top: 200%;

  .cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 25rem;
    h3 {
      font-size: 1.3125rem;
      margin: 0;
      cursor: default;
    }
    h6 {
      margin: 0;
      font-family: "Proxima Nova";
      font-weight: 400;
    }
    h4 {
      margin: 0;
    }
    .trending-product-card:not(:first-child) {
      margin-top: 1.125rem;
    }
    .cart-empty {
      text-align: center;
      color: f.$black50;
      font-family: "Proxima Nova";
      cursor: default;
    }
    .cart-items {
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      width: 100%;
      margin-top: 1.5rem;
      max-height: 15.625rem;
      .trending-product-card {
        justify-content: space-between;
        height: 5.625rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        cursor: default;
        img {
          width: 5.625rem;
          height: 5.625rem;
        }
        .trending-product-text {
          max-width: 11.875rem;
          width: 100%;
          .trending-product-title {
            font-size: 1.3125rem;
          }
          .trending-product-category {
            font-size: 0.75rem;
            font-family: "Proxima Nova";
            font-weight: 400;
          }
          .trending-product-price {
            font-size: 1.3125rem;
          }
        }
        .trending-product-close-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1rem;
          height: 1rem;
          margin-right: 0.625rem;
          cursor: pointer;
          img {
            width: 0.5rem;
            height: 0.5rem;
          }
        }
        .cart-quantity {
          display: block;
          display: flex;
          font-size: 1.25rem;
          justify-content: space-between;
          h5 {
            margin: 0;
          }
        }
      }
      margin-bottom: 2.5rem;
    }
    .cart-total {
      display: flex;
      width: 100%;
      justify-content: space-between;
      h4 {
        font-size: 1.3125rem;
      }
    }
    .cart-checkout-link {
      width: 100%;
      .cart-checkout {
        margin-top: 0.25rem;
        width: 100%;
        min-height: 2.5rem;
        background-color: f.$orange;
        border-radius: 0.625rem;
        font-family: "Brandon Grotesque";
        color: white;
        font-size: 1.3125rem;

        transition: 0.1s all ease-in-out;
      }
      .cart-checkout:hover {
        opacity: 0.8;
      }
    }
  }
}

.dnon {
  display: none;
}

.cart-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

@include breakpoint-down(large) {
  .cart {
    transform: translateX(0%);
    width: 17.1875rem;
    right: 0.625rem;
    .trending-product-category {
      display: none;
    }
    .cart-container {
      padding: 1rem;
      width: 17.1875rem;
      .cart-items {
        max-height: 12.5rem;
        .trending-product-card {
          height: 4.375rem;
          img {
            width: 4.375rem;
            height: 4.375rem;
          }
          .trending-product-text {
            max-width: 8.125rem;
            .trending-product-title {
              font-size: 1rem;
              white-space: nowrap;
            }
            .trending-product-category {
              font-size: 0.625rem;
            }
            .trending-product-price {
              font-size: 1rem;
            }
          }
          .trending-product-close-icon {
            width: 0.75rem;
            height: 0.75rem;
            margin-right: 0.5rem;
            img {
              width: 0.375rem;
              height: 0.375rem;
            }
          }
          .cart-quantity {
            font-size: 1rem;
          }
        }
      }
      .cart-total {
        h4 {
          font-size: 1rem;
        }
      }
      .cart-checkout-link {
        .cart-checkout {
          min-height: 1.875rem;
          font-size: 1rem;
        }
      }
    }
  }
}
