@use "../../main-styles/fonts/fonts.scss" as f;
@import "../../main-styles/mixins.scss";

.hero-section {
  margin: auto;
  margin-top: 100px;
  // width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 134px;
  max-width: 1420px;
  // box-shadow: 0px 0px 0px 1px f.$black10;
  .mobile-medium {
    display: none;
  }
  h1 {
    font-size: 60px;
    font-family: "Brandon Grotesque";
    font-weight: 700;
    margin-bottom: 0;
  }
  .main-text {
    max-width: 542px;
    width: 100%;
    line-height: 300%;
    color: f.$black;
    p {
      max-width: 512px;
      font-size: 24px;
      font-family: "Proxima Nova";
      font-weight: 400;
      line-height: 1.2;
    }
  }
  .shop-now {
    padding: 8px 24px;
    background-color: f.$orange;
    font-family: "Brandon Grotesque";
    font-weight: 700;
    font-size: 21px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-left: 30%;
  }
  .shop-now:hover {
    opacity: 90%;
  }
  .content-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-left: 20%;
  }
  .content-left-side {
    margin-right: 20px;
  }
}
.categories-section {
  min-height: 400px;
  max-width: 1020px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 200px;
  .categories-men,
  .categories-women {
    width: 100%;
    max-width: 454px;
    height: inherit;
  }

  .category-image {
    box-shadow: 0 5px 9px 0 rgba(35, 28, 28, 0.3);
  }
  .cat-centr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cat-man,
  .cat-woman {
    height: 100%;
    max-height: 324px;
    border-radius: 10px;
    box-shadow: 0 5px 9px 0 rgba(35, 28, 28, 0.3);
  }
  .cat-man {
    width: calc(100% - 10px);
    // background-color: blue;
    background-image: url("../../../Assets/Products/men/photo_1a.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  .cat-woman {
    margin-left: 10px;
    width: calc(100% - 10px);
    // background-color: red;
    background-image: url("../../../Assets/Products/women/1.jpg");
    background-size: cover;
    background-position: center;
  }
}
.filter-on-sale {
  h6 {
    margin-bottom: 0 !important;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
}
// @include breakpoint-down(extra-large) {
//   .categories-section {
//     .categories-men,
//     .categories-women {
//       height: 400px;
//       max-width: 400px;
//     }
//   }
// }

@include breakpoint-down(large) {
  .hero-section {
    justify-content: space-between;
    h1 {
      font-size: 42px;
    }
    .main-text {
      max-width: 542px;
      p {
        max-width: 412px;
        font-size: 21px;
      }
    }
    .shop-now {
      padding: 8px 24px;
      background-color: f.$orange;
      font-size: 21px;
    }
  }
}
@include breakpoint-down(medium) {
  .hero-section {
    margin-top: 12px;
    flex-direction: column;
    h1 {
      font-size: 42px;
    }
    .main-text {
      max-width: 542px;
      p {
        max-width: 412px;
        font-size: 21px;
      }
    }
    .desktop-medium {
      display: none;
    }
    .mobile-medium {
      display: flex;
    }
    .shop-now {
      padding: 8px 24px;
      background-color: f.$orange;
      font-size: 21px;
      margin-left: 0;
      margin-top: 70px;
    }
    .content-right-side {
      margin-top: 20px;
    }
    .content-left-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .shop-now {
        margin-left: 0;
      }
      text-align: center;
      margin: 0;
      .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .categories-section {
    margin-top: 100px;
  }
}
@include breakpoint-down(small) {
  .categories-section {
    display: flex;
    flex-direction: column;
    .cat-man,
    .cat-woman {
      height: 600px;
      margin: 0;
    }
  }
}
