@use "./fonts/fonts.scss" as f;
@import "../main-styles/mixins.scss";
a:visited {
  color: f.$black;
  text-decoration: none;
}
a {
  color: f.$black;
  text-decoration: none;
}

body {
  transition: all 0.5s ease-in-out;
}
header {
  // .desktop {
  //   //
  // }
  .mobile {
    display: none;
  }
}
.padding {
  padding: 0 6rem;
}
.shadow {
  //shadow x 0 y 5 blur 9 spread 0 color rgba(35, 28, 28, 30)
  box-shadow: 0 0.3125rem 0.5625rem 0 rgba(35, 28, 28, 0.3);
}
.dnon {
  display: none;
}
@include breakpoint-down(large) {
  .padding {
    padding: 0 2rem;
  }
}

@include breakpoint-down(small) {
  //!! Shouldn't be only for header
  header {
    .desktop {
      display: none;
    }
    .mobile {
      display: flex;
    }
    .header-right {
      max-width: 1.5rem;
    }
  }
}
