@use "../../../../main-styles/fonts/fonts.scss" as f;
.options-bar {
  margin-bottom: 5rem;
  box-shadow: 0rem 0.0625rem 0rem 0.0625rem f.$black75;
  margin-top: 3.125rem;
  display: flex;
  align-items: flex-end;
  .options-bar-content {
    max-width: 1218;
    .bar-button,
    .bar-icon {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
    }
    .bar-button {
      margin-bottom: 0.625rem;
      padding: 0;
    }

    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
