@use "../main-styles/fonts/fonts.scss" as f;
footer {
  h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Brandon Grotesque";
  }
  min-height: 120px;
  width: 100%;
  color: f.$black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  .footer-container {
    h3 {
      margin: 0;
    }
    max-width: 244px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-sm {
    img {
      width: 32px;
      height: 32px;
    }
    :first-child {
      margin-right: 16px;
    }
  }
}
